body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: #434455;
}
.header{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font: size 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
a {
    color: inherit;
    text-decoration: none;
    font-weight: 700;
    
    
}

.web-header {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.web-header:hover, .web.header:focus{
    color: #404bbf;
}
.span-studio {
    color: #2e2f42;
}
.contact{
    font-style: normal;
    font-weight: 400;
}
.contact-mail {
    line-height:1.5;
    letter-spacing:0.2em;
    font: size 16px;
}
.contact-mail:hover, .contact-mail:focus {
    color: #404bbf;
}
.title{
    background-color: #2e2f42;
   
}
.title-capture{
    color: #ffffff;
    font-size:56px;
    font-weight: bold;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}
.order-button{
    background-color:#4d5ae5;
    color:#ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing:0.04em;
    cursor: pointer;
}
.order-button:hover, .order-button:focus{
    background-color: #404BBF;
}

.section-title{
    font-weight: 700;
}
.list-title{
    font-weight: 500;
}
.list-text{
    font-weight: 400;
}
.footer{
    background-color: #2e2f42;
    color: #ffffff;
  
    font-weight: 400;
}